body {
    font-family: -apple-system, Arial;
    background: #f2f2f7;
    margin: 0;
}

body.dark {
    background: #111;
    color: white;
}

.container {
    width: 92%;
    max-width: 520px;
    margin: 25px auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.week-bar {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
    flex: 1;
}

.mode-btn {
    background: none;
    border: none;
    font-size: 18px;
}

.input-box {
    display: flex;
    gap: 8px;
    margin: 15px 0;
}

input, select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    flex: 1;
}

button {
    background: #007aff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

h3 {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}

ul {
    list-style: none;
    padding: 0;
}

.item {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.dark .item {
    background: #1e1e1e;
}

.left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #007aff;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

/* PRIORITY STYLE */
.priority {
    border-left: 4px solid #ff3b30;
}

/* WEEKLY STYLE */
.weekly {
    border-left: 4px solid #007aff;
}

/* MONTHLY STYLE */
.monthly {
    border-left: 4px solid #34c759;
}
